p115client>=0.0.3.17.3
python-crontab>=3.2.0
Croniter>=0.3.33
watchdog>=6.0.0
pytz>=2024.2
rich>=13.9.4
pyTelegramBotAPI>=4.25.0
telegramify-markdown>=0.3.1
psutil>=6.1.1
PyJWT>=2.10.0
fastapi>=0.115.6
python-jose[cryptography]>=3.3.0
python-multipart>=0.0.20
uvicorn>=0.34.0